@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url("https://www.ionos.es/digitalguide/fileadmin/DigitalGuide/Teaser/code-editoren-t.jpg");
    background-size: cover;
    height: 100%;
}

main{
    background-color: rgba(0, 0, 0, 0.651);
    height: 100%;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
    color: white;
}

.form-container {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.904);
    margin: auto;
    padding: 30px;
    border-radius: 20px;
}

form{
    width: 90%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    margin: auto;
}

.form-control{
    display: flex;
    flex-direction: column;
}

.form-control > input {
    height: 30px;
    border-radius: 5px;
    background: rgb(241, 241, 241);
    border: 1px solid rgba(20, 206, 253, 0.589);
}

#dropdown {
    height: 30px;
    border-radius: 5px;
    background: rgb(241, 241, 241);
    border: 1px solid rgba(20, 206, 253, 0.589);
}

#textarea {
    border-radius: 5px;
    background: rgb(241, 241, 241);
    border: 1px solid rgba(20, 206, 253, 0.589);
    resize: none;
}

button {
    height: 40px;
    border-radius: 5px;
    background: rgba(20, 206, 253, 0.918);
    border: 1px solid rgba(0, 124, 155, 0.87);
    margin: auto;
    width: 100%;
    font-size: 16px;
    font-weight: 900;
}
